<img src="https://1000logos.net/wp-content/uploads/2017/11/Zillow-Logo.png" title="Zillow Logo"/>

## INTRODUCTION

## GOALS

## PLAN
### 1. [Acquire Data](#Acquire)
### Takeaways:
- Data is collected from the codeup cloud database with an appropriate SQL query.
- Data is imported using an acquire.py file.
- Original dataframe consisted of 71858 rows × 69 columns.
- Null values/ missing data are very common in about 50 percent of the data. 
 
### 2. [Prepare](#Prepare)
### - using [wrangle.py]()
### Takeaways:
- Bfore cleaning data and dropping unnecesary columns, 71858 rows × 69 columns.
- After dropping nulls and collumns, 44679 rows × 12 columns.
- resulted in 62% row retention 17% column retention.
- we continued to split the data into train, validate, and test for exploration and modeling purposes.

### 3. [Explore](#Explore)

In [1]:
# fetches the data.
import acquire
# credentials file to access the data.
import env
# Imports functions necessary to clean and set limits for the data.
import wrangle

# coding 
import math
import numpy as np
import seaborn as sns
import scipy.stats as stats
import pandas as pd
import matplotlib.pyplot as plt
from pydataset import data
import scipy.stats
import scipy
import os

# needed for modeling
import sklearn.preprocessing
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.preprocessing import MinMaxScaler, StandardScaler, RobustScaler, QuantileTransformer
from sklearn.metrics import explained_variance_score
import statsmodels.api as sm
from sklearn.metrics import mean_squared_error
from sklearn.linear_model import LinearRegression, LassoLars, TweedieRegressor
from sklearn.preprocessing import PolynomialFeatures
from sklearn.cluster import KMeans

# Acquire

In [2]:
# importing and aquiring data set
df = acquire.get_zillow_data()
df

,propertylandusetypeid,parcelid,storytypeid,typeconstructiontypeid,heatingorsystemtypeid,buildingclasstypeid,architecturalstyletypeid,airconditioningtypeid,id,basementsqft,...,id.1,logerror,transactiondate,airconditioningdesc,architecturalstyledesc,buildingclassdesc,heatingorsystemdesc,typeconstructiondesc,storydesc,propertylandusedesc
0,261.0,14297519,NaN,NaN,NaN,NaN,NaN,NaN,1727539,NaN,...,0,0.025595,2017-01-01,NaN,NaN,NaN,NaN,NaN,NaN,Single Family Residential
1,261.0,17052889,NaN,NaN,NaN,NaN,NaN,NaN,1387261,NaN,...,1,0.055619,2017-01-01,NaN,NaN,NaN,NaN,NaN,NaN,Single Family Residential
2,261.0,14186244,NaN,NaN,NaN,NaN,NaN,NaN,11677,NaN,...,2,0.005383,2017-01-01,NaN,NaN,NaN,NaN,NaN,NaN,Single Family Residential
3,261.0,12177905,NaN,NaN,2.0,NaN,NaN,NaN,2288172,NaN,...,3,-0.103410,2017-01-01,NaN,NaN,NaN,Central,NaN,NaN,Single Family Residential
4,266.0,10887214,NaN,NaN,2.0,NaN,NaN,1.0,1970746,NaN,...,4,0.006940,2017-01-01,Central,NaN,NaN,Central,NaN,NaN,Condominium
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71853,261.0,11000655,NaN,NaN,2.0,NaN,NaN,NaN,673515,NaN,...,77609,0.020615,2017-09-20,NaN,NaN,NaN,Central,NaN,NaN,Single Family Residential
71854,261.0,17239384,NaN,NaN,NaN,NaN,NaN,NaN,2968375,NaN,...,77610,0.013209,2017-09-21,NaN,NaN,NaN,NaN,NaN,NaN,Single Family Residential
71855,261.0,12773139,NaN,NaN,2.0,NaN,NaN,1.0,1843709,NaN,...,77611,0.037129,2017-09-21,Central,NaN,NaN,Central,NaN,NaN,Single Family Residential
71856,261.0,12826780,NaN,NaN,2.0,NaN,NaN,NaN,1187175,NaN,...,77612,0.007204,2017-09-25,NaN,NaN,NaN,Central,NaN,NaN,Single Family Residential
71857,261.0,13083743,NaN,NaN,7.0,NaN,NaN,NaN,2455685,NaN,...,77613,-0.197755,2018-05-25,NaN,NaN,NaN,Floor/Wall,NaN,NaN,Single Family Residential

[PLAN](#PLAN)
# Prepare

In [3]:
# handling data in our featured columns in cols, as sugested k is alway 1.5 for outlier number
k = 1.5
cols = ['bathroomcnt', 'bedroomcnt','calculatedfinishedsquarefeet','yearbuilt','lotsizesquarefeet','lotsizesquarefeet']    
df = wrangle.handle_outliers(df,cols,k)
df

,propertylandusetypeid,parcelid,storytypeid,typeconstructiontypeid,heatingorsystemtypeid,buildingclasstypeid,architecturalstyletypeid,airconditioningtypeid,id,basementsqft,...,id.1,logerror,transactiondate,airconditioningdesc,architecturalstyledesc,buildingclassdesc,heatingorsystemdesc,typeconstructiondesc,storydesc,propertylandusedesc
0,261.0,14297519,NaN,NaN,NaN,NaN,NaN,NaN,1727539,NaN,...,0,0.025595,2017-01-01,NaN,NaN,NaN,NaN,NaN,NaN,Single Family Residential
1,261.0,17052889,NaN,NaN,NaN,NaN,NaN,NaN,1387261,NaN,...,1,0.055619,2017-01-01,NaN,NaN,NaN,NaN,NaN,NaN,Single Family Residential
2,261.0,14186244,NaN,NaN,NaN,NaN,NaN,NaN,11677,NaN,...,2,0.005383,2017-01-01,NaN,NaN,NaN,NaN,NaN,NaN,Single Family Residential
3,261.0,12177905,NaN,NaN,2.0,NaN,NaN,NaN,2288172,NaN,...,3,-0.103410,2017-01-01,NaN,NaN,NaN,Central,NaN,NaN,Single Family Residential
5,266.0,17143294,NaN,NaN,NaN,NaN,NaN,NaN,1447245,NaN,...,5,-0.020526,2017-01-01,NaN,NaN,NaN,NaN,NaN,NaN,Condominium
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71851,261.0,12412492,NaN,NaN,2.0,NaN,NaN,NaN,2274245,NaN,...,77607,0.001082,2017-09-19,NaN,NaN,NaN,Central,NaN,NaN,Single Family Residential
71854,261.0,17239384,NaN,NaN,NaN,NaN,NaN,NaN,2968375,NaN,...,77610,0.013209,2017-09-21,NaN,NaN,NaN,NaN,NaN,NaN,Single Family Residential
71855,261.0,12773139,NaN,NaN,2.0,NaN,NaN,1.0,1843709,NaN,...,77611,0.037129,2017-09-21,Central,NaN,NaN,Central,NaN,NaN,Single Family Residential
71856,261.0,12826780,NaN,NaN,2.0,NaN,NaN,NaN,1187175,NaN,...,77612,0.007204,2017-09-25,NaN,NaN,NaN,Central,NaN,NaN,Single Family Residential
71857,261.0,13083743,NaN,NaN,7.0,NaN,NaN,NaN,2455685,NaN,...,77613,-0.197755,2018-05-25,NaN,NaN,NaN,Floor/Wall,NaN,NaN,Single Family Residential

In [4]:
# using this function to drop nulls and create a train datadrame to explore on.
train = wrangle.get_exploration_data(df)

Before dropping nulls, 49964 rows, 69 cols
Before dropping nulls, 49964 rows, 69 cols
After dropping nulls. 44679 rows. 12 cols
After dropping nulls, 44679 rows, 12 cols
Train: 30381 rows, 12 cols
Validate: 7596 rows, 12 cols
Test: 6702 rows, 12 cols

### Takeaways:
    - after cleaning the data and removing unnecesary columns our original data set is reduced down to 44,679 rows and 12 columns.

In [5]:
train

,bathroomcnt,bedroomcnt,calculatedfinishedsquarefeet,fips,latitude,longitude,lotsizesquarefeet,regionidcity,regionidzip,yearbuilt,taxvaluedollarcnt,logerror
57528,1.0,2.0,950.0,6037.0,34687977.0,-118138159.0,9022.0,5534.0,97317.0,1951.0,66019.0,0.023493
2250,3.5,5.0,3128.0,6111.0,34155206.0,-118835753.0,8289.0,41673.0,96384.0,1976.0,947000.0,0.014508
20338,2.5,3.0,1536.0,6059.0,33699620.0,-117948855.0,1894.0,8384.0,97008.0,1970.0,425454.0,-0.028106
31373,2.5,2.0,1194.0,6059.0,33730396.0,-117757747.0,2046.0,52650.0,96954.0,1997.0,610000.0,0.015434
59529,2.0,4.0,2288.0,6059.0,33727162.0,-117972418.0,5650.0,34780.0,96990.0,1976.0,595242.0,0.265968
...,...,...,...,...,...,...,...,...,...,...,...,...
16134,3.0,3.0,1581.0,6037.0,34694693.0,-118098626.0,5789.0,5534.0,97318.0,1990.0,115335.0,0.032321
53368,2.0,2.0,2258.0,6037.0,33821744.0,-118385489.0,6032.0,33612.0,96123.0,1962.0,1386970.0,-0.403232
50836,2.0,3.0,1992.0,6111.0,34216772.0,-119163856.0,6156.0,13150.0,97101.0,2000.0,437246.0,0.001157
28844,3.0,3.0,1915.0,6037.0,34466463.0,-118487360.0,6448.0,NaN,96403.0,1990.0,388515.0,-0.022106
47863,3.0,4.0,2570.0,6037.0,34653168.0,-118253898.0,10964.0,5534.0,97319.0,2011.0,324778.0,0.058265

[PLAN](#PLAN)
# Explore